<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="stylesheets/img/fav.png">
	<!-- Author Meta -->
	<meta name="author" content="CodePixar">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>Holmes Real Estate</title>
	<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
	<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
	<!--
			CSS
			============================================= -->
	<link rel="stylesheet" href="stylesheets/css/linearicons.css">
	<link rel="stylesheet" href="stylesheets/css/font-awesome.min.css">
	<link rel="stylesheet" href="stylesheets/css/nice-select.css">
	<link rel="stylesheet" href="stylesheets/css/ion.rangeSlider.css" />
	<link rel="stylesheet" href="stylesheets/css/ion.rangeSlider.skinFlat.css" />
	<link rel="stylesheet" href="stylesheets/css/bootstrap.css">
	<link rel="stylesheet" href="stylesheets/css/owl.carousel.css">
	<link rel="stylesheet" href="stylesheets/css/main.css">
	<style type="text/css">
		.selection{
			max-width: 20%;
		}
		.pricebar{
			max-width: 20%;
		}
		#search{
			margin-left: 37.3%;
		}
		img{
			width: 30%;
		}
	</style>
	
</head>

<body>
	
	<section class="home-banner-area relative" id="home">
		<div class="overlay overlay-bg"></div>
		<div class="container">
			<div class="row fullscreen align-items-end justify-content-center">
				<h1>               .<br>.			</h1>
				<div class="banner-content col-lg-12 col-md-12">
					<div class="search-field">
						<div class="search-form" action="#">
							<div class="row">
								<div class="col-lg-12 d-flex align-items-center justify-content-center toggle-wrap">
									<div class="row">
										<div class="col">
											<h4 class="search-title">美妝組合輕鬆選</h4>
										</div>
										
									</div>
								</div>
								<div class="selection col-lg-3 col-md-6 col-xs-6">
									<p>底妝</p>
									<select name="location" class="app-select form-control" id="foundation" required>
										
										<option data-display="全底妝"value="4">全底妝</option>
										<option value="101">遮暇膏</option>
										<option value="112">蜜粉</option>
										<option value="106">粉餅</option>
										<option value="110">CC霜</option>
									</select>
								</div>
								<div class="selection col-lg-3 col-md-6 col-xs-6">
									<p>眉彩</p>
									<select name="property-type" class="app-select form-control" id="eyebrow" required>
										<option data-display="Property Type"value="115">全眉彩</option>
										<option value="115">眉筆</option>
										<option value="116">眉粉</option>
										<option value="117">染眉膏</option>
										<option value="118">其它眉彩</option>
									</select>
								</div>
								<div class="selection col-lg-3 col-md-6 col-xs-6">
									<p>眼線</p>
									<select name="bedroom" class="app-select form-control" id="eyeliner" required>
										<option data-display="全眼線" value="33">全眼線</option>
										<option value="119">眼線筆</option>
										<option value="120">眼線液</option>
										<option value="121">眼線膠</option>
										<option value="122">其它眼線</option>
									</select>
								</div>
								<div class="selection col-lg-3 col-md-6 col-xs-6">
									<p>唇彩</p>
									<select name="bedroom" class="app-select form-control" id="lipGloss" required>
										<option data-display="全唇彩" value="38">全唇彩</option>
										<option value="138">唇膏</option>
										<option value="139">唇筆</option>
										<option value="140">唇線筆</option>
										<option value="141">唇蜜</option>
										<option value="142">唇釉</option>
										<option value="143">唇露</option>
										<option value="144">其它唇彩</option>
									</select>
								</div>
								<div class="selection col-lg-3 col-md-6 col-xs-6">
									<p>夾彩</p>
									<select name="bedroom" class="app-select form-control"id="fullcolor" required>
										<option data-display="全夾彩" value="36">全夾彩</option>
										<option value="130">腮紅</option>
										<option value="131">腮紅霜</option>
										<option value="132">腮紅蜜</option>
										<option value="133">氣墊腮紅</option>
										<option value="134">其它腮紅</option>
									</select>
								</div>

								<div class="pricebar col-lg-4 range-wrap">
									<p>調整金額</p>
									<input type="text" id="range" value="" name="range" />
								</div>
								<div class="pricebar col-lg-4 range-wrap">
									<p>調整金額</p>
									<input type="text" id="range2" value="" name="range" />
								</div>
								<div class="pricebar col-lg-4 range-wrap">
									<p>調整金額</p>
									<input type="text" id="range3" value="" name="range" />
								</div>
								<div class="pricebar col-lg-4 range-wrap">
									<p>調整金額</p>
									<input type="text" id="range4" value="" name="range" />
								</div>
								<div class="pricebar col-lg-4 range-wrap">
									<p>調整金額</p>
									<input type="text" id="range5" value="" name="range" />
								</div>
								<div class="pricebar col-lg-4 d-flex justify-content-end" id="search">
									<button class="primary-btn" id= "searchAll">搜尋<span class="lnr lnr-arrow-right"></span></button>
								</div>
							</div>
						</div>
					</div>
					<div class="search-field">
						<table id="tablePreview" class="table">
						<!--Table head-->
						  <thead>
						    <tr>
						      <th>#</th><th>底妝</th><th>眉彩</th><th>眼線</th><th>唇彩</th><th>夾彩</th>
						    </tr>
						  </thead>
						  <tbody id="theBest">
						   </tbody>
						  <!--Table body-->
						</table>
						<table id="tablePreview2" class="table">
						<!--Table head-->
						  <thead>
						    <tr>
						      <th>#</th><th>底妝</th><th>眉彩</th><th>眼線</th><th>唇彩</th><th>夾彩</th>
						    </tr>
						  </thead>
						  <tbody id="theSec">
						   </tbody>
						  <!--Table body-->
						</table>
					</div>
				</div>
			</div>
			<!--Table-->

		</div>
	</section>
	<!-- End banner Area -->



	<!-- start footer Area -->
	<footer class="footer-area section-gap">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="single-footer-widget">
						<h6>About Us</h6>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore dolore magna aliqua.
						</p>
					</div>
				</div>
				
			</div>
			<div class="footer-bottom d-flex justify-content-center align-items-center flex-wrap">
				<p class="footer-text m-0"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
			</div>
		</div>
	</footer>
	<!-- End footer Area -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="javascripts/vendor/jquery-2.2.4.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
	 crossorigin="anonymous"></script>
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
	<script src="javascripts/vendor/bootstrap.min.js"></script>
	<script src="javascripts/jquery.ajaxchimp.min.js"></script>
	<script src="javascripts/jquery.nice-select.min.js"></script>
	<script src="javascripts/jquery.sticky.js"></script>
	<script src="javascripts/ion.rangeSlider.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="javascripts/jquery.magnific-popup.min.js"></script>
	<script src="javascripts/owl.carousel.min.js"></script>
	<script src="javascripts/main.js"></script>
	<script src="javascripts/Dom.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
	<script type="text/javascript">
		$('#searchAll').click(function(){
			let foundation=$("#foundation").val();
			let eyebrow=$("#eyebrow").val();
			let eyeliner=$("#eyeliner").val();
			let lipGloss=$("#lipGloss").val();
			let fullcolor=$("#fullcolor").val();
			let foundationPrice=$('#range').val();
			let eyebrowPrice=$('#range2').val();
			let eyelinerPrice=$('#range3').val();
			let lipGlossPrice=$('#range4').val();
			let fullcolorPrice=$('#range5').val();
			let obj={};
			obj.foundation={id:foundation,range:foundationPrice.split(';')};
			obj.eyebrow={id:eyebrow,range:eyebrowPrice.split(';')};
			obj.eyeliner={id:eyeliner,range:eyelinerPrice.split(';')};
			obj.lipGloss={id:lipGloss,range:lipGlossPrice.split(';')};
			obj.fullcolor={id:fullcolor,range:fullcolorPrice.split(';')};
			$.ajax({
				url:"http://140.119.163.195:3000/getProducts",
				method:"POST",
				header:{
					'Content-Type':'application/json'
				},
				data:{data:JSON.stringify(obj)},
				success:function(res){
					function imgsrc(link){
						try{
							let tag=link.split('/');
							tag=tag[tag.length-2];
							return `https://dg9ugnb21lig7.cloudfront.net/uploads/product_image/${tag}/1/_160x160_${tag}.jpg`;
						}catch(e){
							return undefined;
						}
					}
					function generateCol(imgsrc,name,price){
						let str=`<td><img src="${imgsrc}"><p><span>${name}</span><br><span>${price}</span></p></td>`
						return str;
					}
					let data=JSON.parse(res);
					//console.log(res);
					let itemF=data.foundation;
					let itemEyebrow=data.eyebrow;
					let itemEyeliner=data.eyeliner;
					let itemLipGloss=data.lipGloss;
					let itemfullcolor=data.fullcolor;
					console.log(itemF);
					let theBest="";
					let theSec="";$("#waitＭodal").css({'display':'none'});
					for(let i = 0 ; i<15 ; i++){			
	 					if(i==0){
							let content="";
							content+=generateCol(imgsrc(itemF[i].articalLink),itemF[i].name,itemF[i].price )+generateCol(imgsrc(itemEyebrow[i].articalLink),itemEyebrow[i].name,itemEyebrow[i].price)+generateCol(imgsrc(itemEyeliner[i].articalLink), itemEyeliner[i].name,itemEyeliner[i].price)+generateCol(imgsrc(itemLipGloss[i].articalLink),itemLipGloss[i].name,itemLipGloss[i].price)+generateCol(imgsrc(itemfullcolor[i].articalLink),itemfullcolor[i].name,itemfullcolor[i].price);
							theBest+=`<tr><th scope="row">${i+1}</th>${content}</tr>`
							console.log(theBest);
							$('#theBest').empty();
							document.getElementById('theBest').innerHTML=theBest;
						}else{
							let content="";
							content+=generateCol(imgsrc(itemF[i].articalLink),itemF[i].name,itemF[i].price )+generateCol(imgsrc(itemEyebrow[i].articalLink),itemEyebrow[i].name,itemEyebrow[i].price)+generateCol(imgsrc(itemEyeliner[i].articalLink), itemEyeliner[i].name,itemEyeliner[i].price)+generateCol(imgsrc(itemLipGloss[i].articalLink),itemLipGloss[i].name,itemLipGloss[i].price)+generateCol(imgsrc(itemfullcolor[i].articalLink),itemfullcolor[i].name,itemfullcolor[i].price);
							theSec+=`<tr><th scope="row">${i+1}</th>${content}</tr>`
							console.log(theSec);
							$('#theSec').empty();
							document.getElementById('theSec').innerHTML=theSec;

						}		
					}
					$('.justify-content-center').css({'height':'100%'});
				}
				
			});
		});
	</script>
</body>


</html>
